@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    text-align: center;
    margin: 3rem auto;
    border: 1px solid hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 98%);
    border-radius: 20px;
    width: 50%;

    h1{
        font-size: 4rem;
        color: #3d5926;
        margin: 2rem 0;
    }
    input,select{
        width: 250px;
        height: 40px;
        padding: 0 10px;
        font-size: 16px;
        color: #888888;
        border: 1px solid #BCBCBC;
        border-radius: 5px;
        outline: none;
    }
    label{
        display: block;
        margin: 1rem 0 ;
        color: #80B554;
    }
    #btn{
        border-radius: 10px;
        border: none;
        color: #fff;
        background-color: #3d5926;
        font-size: 18px;
        text-align: center;
        padding: 13px 35px;
        cursor: pointer;
        margin: 2rem 0 1rem;
        &:hover{
            background-color: hsl(93, 40%, 20%);
        }
    }
    p{
        color: #888888;
        font-size: 16px;
        margin: 0rem 0 1rem;
    }
}